h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.action {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  background-color: transparent !important;
  border-radius: 50%;
  /* box-shadow: 0 5px 5px rgba(0,0,0,0.1); */
}

@media (min-width: 2560px) {
  .action {
    height: 250px;
    width: 250px;
  }
}

.action #widget-toggle-button {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: transparent !important;
  font-size: 40px;
  /* transition: 0.3s ease-in-out; */
  outline: none;
  cursor: pointer;
  background-color: #fff;
}
.action-container {
    border-radius: 9999px;
    background-color: #3f51ab;
    box-shadow: 0.5px 0.5px 6px;
    padding: 19px 22px;
}

.action #banner {
  width: 100%;
  height: 100%;
}

.action.active #banner {
  margin-top: 85px;
  margin-left: 16px;
  width: 50px;
  height: 50px;
}

@media (min-width: 2560px) {
  .action.active #banner {
    margin-top: 185px;
  }
}

.action section {
  position: absolute;
  bottom: 55px;
  background-color: #fff;
  min-width: 200px;
  max-width: 400px;
  display: grid;
  grid-gap: 10px;
  border-radius: 20px;
  padding: 20px;
  list-style-type: none;
  margin: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999999999999;
}

.action ul {
  display: inline-flex;
  margin-bottom: 20px;
}

.action li {
  margin: 10px;
}

.action.active section {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  bottom: 65px;
}
